* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

header {
    background-color: #13b813;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-around;
}

header button {
    background: none;
    border: none;
}

header button i {
    font-size: 30px;
    color: black;
}

#logo-img {
    height: auto;
    width: auto;
    max-width: 160px;
    max-height: 200px;
}

#logo-div {
    margin-left: -4vw;
    margin-right: 4vw;
}


#login-cart-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5vw;
}

#login-register-div {
    display: flex;
    gap: 5px;
}

#cart-div {
    display: flex;
    gap: 5px;
}

.search-input {
    padding: 1.5rem 2.5rem 1.5rem 1.5rem;
    font-size: 20px;
    height: 2.5rem;
    width: 25vw;
    border: none;
    border-radius: 10px;
    background-color: hsla(0, 0%, 95%, 0.856);
    border: 1px solid white;
}

.search-input:focus {
    outline: none;
    border: 1px solid #0a490a;
}

#top-search-form {
    display: flex;
    align-items: center;
    position: relative;
}

.top-search-btn {
    padding: 5px;
    position: absolute;
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
    margin-left: -2.5rem;
    right: 5px;
}

.fa-magnifying-glass {
    color: #0a490a;
}

.login-link {
    text-decoration: none;
    color: blue;
}

#main-content {
    width: 100%;
    background-color: #f2f2f2;
}

.slider-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 5vh;
}

#slider {
    position: relative;
    width: 1000px;
    height: 500px;
    border: 20px solid black;
}

#slider li{
    list-style: none;
    position: absolute;
}

#slider img {
    max-height: 460px;
    max-width: 1000px;
    margin: auto;
    vertical-align: top;
}


#slider input {
    display: none;
}

#slider img {
    opacity: 0;
    visibility: hidden;
}

#slider li input:checked ~ img{
    opacity: 1;
    visibility: visible;
}

#sliderlinks ul li label{
    background-color: gray;
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 30px;
    cursor: pointer;
}

#sliderlinks ul li{
    display: inline-block;
    margin: 5vh 20px 5vh 20px;
}

#sliderlinks {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categories {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5vh 0;
}

.category {
    background-color: #f1c232;
    padding: 10vh;
    border-radius: 10px;
    width: 30vh;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    position: relative;
}

aside {
    position: absolute;
    background-color: #0a900aff;
    height: 100%;
    width: 10vw;
    z-index: 3;
}

aside ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    width: 100%;
    display: block;
    height: 100%;
    padding: 20px 10px;
}

aside ul li:hover {
    background-color: rgb(8, 107, 8);
}

#main-content {
    padding-left: 10vw;
}

aside ul li:first-child {
    padding: 10px;
}

nav {
    background-color: black;
    padding-left: 10vw;
    color: white;
    position: sticky;
    top: 0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.menu-button {
    background: none;
    border: none;
    font-size: 2.5rem;
    color: white;
    width: 100%;
    cursor: pointer;
    text-align: left;
}

.highlights {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.highlights-title {
    margin: 5vh 0;
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.highlights-title .title{
    font-size: 2.5rem;
    text-align: center;
    color: #c6ffc6;
    background-color: #13b813;
    padding: 10px 30vw;
    border-radius: 20px;
    box-shadow: 5px 5px 20px 10px #d8d8d8;
}


.highlights-products {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    row-gap: 5vh;
    width: 100%;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #044804;
    max-width: 300px;
    background-color: white;
    border-radius: 15px;
    border: 1px solid transparent;
    padding: 1rem;
    box-shadow: 5px 5px 20px 10px #d8d8d8;
    transition: all 0.3s ease;
}

.product:hover {
    border: 1px solid rgba(8, 107, 8, 0.425);
    box-shadow: 5px 5px 20px 10px #c9c9c9;
}

.cart-fav-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.cart-fav-section button {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.product .fa-cart-shopping:hover,.fa-heart:hover {
    background-color: rgba(18, 199, 18, 0.5);
}

.product .fa-cart-shopping, .fa-heart {
    transition: background-color 0.3s ease;
    padding: 5px;
    border-radius: 10px;
}

.product-price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
    margin-bottom: 3vh;
    color: #969696;
}

.product-price strong {
    font-size: 1.5rem;
    color: black;
}

.product-buy-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-buy-btn button {
    background: none;
    border: 1px solid transparent;
    padding: 8px 80%;
    border-radius: 10px;
    background-color: #13b813;
    color: white;
    font-weight: 500;
    font-size: 1.3rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.product-buy-btn button:hover {
    background-color: #0f8f0f;
}