<main>
    <aside>
        <ul>
            <li><button class="menu-button"><span><i class="fa-solid fa-bars"></i></span></button></li>
            <li><a href="#">Alimentos</a></li>
            <li><a href="#">Bebidas</a></li>
            <li><a href="#">Vitaminas</a></li>
            <li><a href="#">Roupas</a></li>
            <li><a href="#">Livros</a></li>

        </ul>
    </aside>

    <nav>
        <p>Fale conosco <i class="fa-brands fa-whatsapp"></i></p>
    </nav>

    <div id="main-content">
        <section class="slider-section">
            <div id="slider">
                <ul>
                    <li id="ele1">
                        <input type="radio" id="slide1" name="slide">
                        <img src="../img/bananas.jpg" alt="banana">
                    </li>
                    <li id="ele2">
                        <input type="radio" id="slide2" name="slide">
                        <img src="../img/maca-1516308281068_v2_4x3.jpg" alt="maca">
                    </li>
                    <li id="ele3">
                        <input type="radio" id="slide3" name="slide">
                        <img src="../img/morango-1519823853148_v2_4x3.jpg" alt="morango">
                    </li>
                </ul>
            </div>
            <div id="sliderlinks">
                <ul>
                    <li><label for="slide1"></label></li>
                    <li><label for="slide2"></label></li>
                    <li><label for="slide3"></label></li>
                </ul>
            </div>
        </section>

        <section class="categories">
            <div class="category">
                <p>Alimentos</p>
            </div>
            <div class="category">
                <p>Vitaminas</p>
            </div>
            <div class="category">
                <p>Suplementos</p>
            </div>
            <div class="category">
                <p>Livros</p>
            </div>
        </section>

        <section class="highlights">
            <div class="highlights-title">
                <h1 class="title">Destaques</h1>
            </div>
            <div class="highlights-products">
                <div class="product">
                    <div class="cart-fav-section">
                        <button onclick="teste(event)"><span><i class="fa-solid fa-cart-shopping"></i></span></button>
                        <button><span><i class="fa-regular fa-heart"></i></span></button>
                    </div>
                    <div class="product-image">
                        <img src="../img/1e062058-c5af-4275-9150-108a4446763d.png" alt="product">
                    </div>
                    <div class="product-short-description">
                        <p>Glicem Suplemento Natural em Cápsula Natuclin - 90 cápsulas de 500mg - 1 unidade</p>
                    </div>
                    <div class="space">

                    </div>
                    <div class="product-price">
                        <p>A partir de</p>
                        <p><s>R$ 134,90</s> <strong>R$ 79,90</strong></p>
                        <p>ou 1x de R$ 79,90 sem juros</p>
                    </div>
                    <div class="product-buy-btn">
                        <button>Comprar</button>
                    </div>
                </div>
                <div class="product">
                    <div class="cart-fav-section">
                        <button><span><i class="fa-solid fa-cart-shopping"></i></span></button>
                        <button><span><i class="fa-regular fa-heart"></i></span></button>
                    </div>
                    <div class="product-image">
                        <img src="../img/1e062058-c5af-4275-9150-108a4446763d.png" alt="product">
                    </div>
                    <div class="product-short-description">
                        <p>Glicem Suplemento Natural em Cápsula Natuclin - 90 cápsulas de 500mg - 1 unidade</p>
                    </div>
                    <div class="product-price">
                        <p>A partir de</p>
                        <p><s>R$ 134,90</s> <strong>R$ 79,90</strong></p>
                        <p>ou 1x de R$ 79,90 sem juros</p>
                    </div>
                    <div class="product-buy-btn">
                        <button>Comprar</button>
                    </div>
                </div>
                <div class="product">
                    <div class="cart-fav-section">
                        <button><span><i class="fa-solid fa-cart-shopping"></i></span></button>
                        <button><span><i class="fa-regular fa-heart"></i></span></button>
                    </div>
                    <div class="product-image">
                        <img src="../img/1e062058-c5af-4275-9150-108a4446763d.png" alt="product">
                    </div>
                    <div class="product-short-description">
                        <p>Glicem Suplemento Natural em Cápsula Natuclin - 90 cápsulas de 500mg - 1 unidade</p>
                    </div>
                    <div class="product-price">
                        <p>A partir de</p>
                        <p><s>R$ 134,90</s> <strong>R$ 79,90</strong></p>
                        <p>ou 1x de R$ 79,90 sem juros</p>
                    </div>
                    <div class="product-buy-btn">
                        <button>Comprar</button>
                    </div>
                </div>
                <div class="product">
                    <div class="cart-fav-section">
                        <button><span><i class="fa-solid fa-cart-shopping"></i></span></button>
                        <button><span><i class="fa-regular fa-heart"></i></span></button>
                    </div>
                    <div class="product-image">
                        <img src="../img/1e062058-c5af-4275-9150-108a4446763d.png" alt="product">
                    </div>
                    <div class="product-short-description">
                        <p>Glicem Suplemento Natural em Cápsula Natuclin - 90 cápsulas de 500mg - 1 unidade</p>
                    </div>
                    <div class="product-price">
                        <p>A partir de</p>
                        <p><s>R$ 134,90</s> <strong>R$ 79,90</strong></p>
                        <p>ou 1x de R$ 79,90 sem juros</p>
                    </div>
                    <div class="product-buy-btn">
                        <button>Comprar</button>
                    </div>
                </div>
                <div class="product">
                    <div class="cart-fav-section">
                        <button><span><i class="fa-solid fa-cart-shopping"></i></span></button>
                        <button><span><i class="fa-regular fa-heart"></i></span></button>
                    </div>
                    <div class="product-image">
                        <img src="../img/1e062058-c5af-4275-9150-108a4446763d.png" alt="product">
                    </div>
                    <div class="product-short-description">
                        <p>Glicem Suplemento Natural em Cápsula Natuclin - 90 cápsulas de 500mg - 1 unidade</p>
                    </div>
                    <div class="product-price">
                        <p>A partir de</p>
                        <p><s>R$ 134,90</s> <strong>R$ 79,90</strong></p>
                        <p>ou 1x de R$ 79,90 sem juros</p>
                    </div>
                    <div class="product-buy-btn">
                        <button>Comprar</button>
                    </div>
                </div>
                <div class="product">
                    <div class="cart-fav-section">
                        <button><span><i class="fa-solid fa-cart-shopping"></i></span></button>
                        <button><span><i class="fa-regular fa-heart"></i></span></button>
                    </div>
                    <div class="product-image">
                        <img src="../img/1e062058-c5af-4275-9150-108a4446763d.png" alt="product">
                    </div>
                    <div class="product-short-description">
                        <p>Glicem Suplemento Natural em Cápsula Natuclin - 90 cápsulas de 500mg - 1 unidade</p>
                    </div>
                    <div class="product-price">
                        <p>A partir de</p>
                        <p><s>R$ 134,90</s> <strong>R$ 79,90</strong></p>
                        <p>ou 1x de R$ 79,90 sem juros</p>
                    </div>
                    <div class="product-buy-btn">
                        <button>Comprar</button>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>