<main>
    <div class="container">
        <a href="/"><img src="../img/vegetariando.png" alt="logo" class="logo-img"></a>
        <h1>Faça Login</h1>
        <form action="/login" method="POST">
            <input type="email" name="email" id="email" placeholder="Insira seu e-mail">
            <input type="password" name="passw" id="passw" placeholder="Insira a senha">
            <p>Não possui uma conta? <a href="/register">Clique aqui para se registrar</a></p>
            <button type="submit" id="login-btn">Entrar</button>
        </form>
        <% if(message) { %>
            <div class="message">
                <p><%- message -%></p>
            </div>
        <% } %>
    </div>
    
</main>