* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

header {
    background-color: #13b813;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-around;
}

header button {
    background: none;
    border: none;
}

header button i {
    font-size: 30px;
    color: black;
}

#logo-img {
    height: auto;
    width: auto;
    max-width: 160px;
    max-height: 200px;
}

#logo-div {
    margin-left: -4vw;
    margin-right: 4vw;
}


#login-cart-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5vw;
}

#login-register-div {
    display: flex;
    gap: 5px;
}

#cart-div {
    display: flex;
    gap: 5px;
}

.search-input {
    padding: 1.5rem 2.5rem 1.5rem 1.5rem;
    font-size: 20px;
    height: 2.5rem;
    width: 25vw;
    border: none;
    border-radius: 10px;
    background-color: hsla(0, 0%, 95%, 0.856);
    border: 1px solid white;
}

.search-input:focus {
    outline: none;
    border: 1px solid #0a490a;
}

#top-search-form {
    display: flex;
    align-items: center;
    position: relative;
}

.top-search-btn {
    padding: 5px;
    position: absolute;
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
    margin-left: -2.5rem;
    right: 5px;
}

.fa-magnifying-glass {
    color: #0a490a;
}

#main-content {
    width: 100%;
}

.slider-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #e6e6e6;
    padding-top: 5vh;
}

#slider {
    position: relative;
    width: 1000px;
    height: 500px;
    border: 20px solid black;
}

#slider li{
    list-style: none;
    position: absolute;
}

#slider img {
    max-height: 460px;
    max-width: 1000px;
    margin: auto;
    vertical-align: top;
}


#slider input {
    display: none;
}

#slider img {
    opacity: 0;
    visibility: hidden;
}

#slider li input:checked ~ img{
    opacity: 1;
    visibility: visible;
}

#sliderlinks ul li label{
    background-color: black;
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 30px;
    cursor: pointer;
}

#sliderlinks ul li{
    display: inline-block;
    margin: 5vh 20px 5vh 20px;
}

#sliderlinks {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categories {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50vh;
    align-items: center;
    padding: 5vh 0;
}

.category {
    background-color: #f1c232;
    padding: 10vh;
    border-radius: 10px;
    width: 30vh;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    position: relative;
}

aside {
    position: absolute;
    background-color: #0a900aff;
    height: 100%;
    width: 10vw;
    z-index: 3;
}

aside ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    width: 100%;
    display: block;
    height: 100%;
    padding: 20px 10px;
}

aside ul li:hover {
    background-color: rgb(8, 107, 8);
}

#main-content {
    padding-left: 10vw;
}

aside ul li:first-child {
    padding: 10px;
}

nav {
    background-color: black;
    padding-left: 10vw;
    color: white;
    position: sticky;
    top: 0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.menu-button {
    background: none;
    border: none;
    font-size: 2.5rem;
    color: white;
    width: 100%;
    cursor: pointer;
    text-align: left;
}